body {
  background-color: #b0c4ce57;
}
.mobile {
  .container {
    width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }
}

form {
  > div {
    margin-bottom: 20px;
  }
}
.addExpenseForm {
  background-color: #096a45;
  padding: 3rem;
  border-radius: 20px;
  .form-control {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
  }
  button {
    background-color: #144d37;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.67rem;
    border-radius: 0.375rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.expenseTable {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid #0c4c47;
  border-radius: 10px;
}
