body {
  background-color: yellowgreen;
}
.mobile {
  .container {
    width: 50vw;
    min-height: 100vh;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }
}
