@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Fasthand&family=Noto+Sans+KR&display=swap");

body {
  background-color: #b0c4ce57;
  font-family: "Noto Sans KR", sans-serif !important;
}
ul,
li {
  list-style: none;
}

@mixin button {
  background-color: #144d37;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.67rem;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@mixin logo {
  font-family: "Alkatra", cursive;
  font-size: 3em;
}
h1 {
  @include logo;
}

.container {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  gap: 10px;
  @media (min-width: 576px) {
    flex-direction: row;
  }
}
.overlayForm {
  form {
    > div:nth-child(2) {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    div {
      padding: 0;
    }
  }
}

.memberName {
  background-color: #096a453b;
  padding: 0 10px;
}
.addExpenseForm {
  background-color: #096a45;
  padding: 1rem;
  border-radius: 20px;
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  form > div {
    margin-bottom: 20px;
  }
  .form-control {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
  }
  button {
    background-color: #144d37;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.67rem;
    border-radius: 0.375rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
}

.expenseTable {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: 1px solid #0c4c47;
  border-radius: 10px;
  thead {
    border-bottom: 2px solid #0c4c47;
    th {
      padding: 10px;
      text-align: center;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #096a451c;
      }
    }
  }
}

button[type="submit"],
button[type="button"] {
  background-color: #096a45;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.67rem;
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  &:hover {
    background-color: #144d37;
  }
}

.expenseResult {
  display: none;
  background-color: #000000ba;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 100%;
  width: 100%;
  z-index: 1;
  > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    border: 2px solid #096a45;
    z-index: 10;
    @media (max-width: 576px) {
      width: 100%;
    }
    p {
      font-size: 1.5rem;
      text-align: center;
    }
    .total {
      p {
        font-size: 1rem;
        margin-bottom: 0;
        .num {
         
        }
        &:nth-of-type(2){
         
        }
      }
      margin-bottom: 1rem;
    }
  }
  &.on {
    display: block;
  }

  .buttonBox {
    display: flex;
    gap: 20px;
  }
}
.member {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  li {
    margin-right: 5px;
    position: relative;
    font-size: 1.2em;
    padding: 0 5px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 6px;
      background-color: rgb(9 106 69 / 34%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}
.inputBox {
  margin-top: 30px;
}
.inputNameTags {
  input::placeholder {
    color: red;
  }
}
.inputForm {
  margin-top: 3em;
}
